:host {
    display: contents;
}

.export-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;

    button[mat-menu-item] {
        flex: 1;
        margin-right: 8px;
    }
}