<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
            [mode]="'side'"
            [opened]="true"
            [@sidenavAnimation]="isExpanded ? 'expanded' : 'collapsed'"
            [class.collapsed]="!isExpanded">
        <div class="sidenav-click-layer">
            <div class="click-background" (click)="toggleNavbar()"></div>
            <div class="sidenav-content">
                <mat-toolbar (click)="toggleNavbar()">
                    <mat-icon>insights</mat-icon>
                    <span *ngIf="isExpanded">Insights</span>
                </mat-toolbar>
                <mat-nav-list (click)="toggleNavbar()">
                    <a mat-list-item [routerLink]="item.path" *ngFor="let item of navItems"
                       (click)="$event.stopPropagation()"
                       [matTooltip]="!isExpanded ? item.shortLabel : ''"
                       matTooltipPosition="right">
                        <mat-icon matListItemIcon [class]="item.iconClass">{{item.icon}}</mat-icon>
                        <span matListItemTitle>{{item.shortLabel}}</span>
                    </a>
                </mat-nav-list>
                <mat-nav-list class="toggle-container">
                    <a mat-list-item
                       [matTooltip]="getConnectionTooltip((connectionDetails$ | async) || websocketService.details)"
                       matTooltipPosition="right"
                       matTooltipClass="connection-tooltip"
                       [matMenuTriggerFor]="connectionMenu"
                       (click)="$event.stopPropagation()">
                        <mat-icon matListItemIcon [class.connected]="(connectionState$ | async) === connectionState.CONNECTED"
                                                [class.connecting]="(connectionState$ | async) === connectionState.CONNECTING"
                                                [class.reconnecting]="(connectionState$ | async) === connectionState.RECONNECTING"
                                                [class.disconnected]="(connectionState$ | async) === connectionState.DISCONNECTED">
                            {{ getConnectionIcon((connectionState$ | async) || connectionState.DISCONNECTED) }}
                        </mat-icon>
                        <span matListItemTitle>{{ getConnectionLabel((connectionState$ | async) || connectionState.DISCONNECTED) }}</span>
                    </a>
                    <mat-menu #connectionMenu="matMenu" class="connection-menu">
                        <div class="connection-details">
                            <div class="detail-row">
                                <span class="label">Server:</span>
                                <span class="value">{{ (connectionDetails$ | async)?.url }}</span>
                            </div>
                            <div class="detail-row">
                                <span class="label">Status:</span>
                                <span class="value">{{ getConnectionLabel((connectionState$ | async) || connectionState.DISCONNECTED) }}</span>
                            </div>
                            <div class="detail-row">
                                <span class="label">Last Connected:</span>
                                <span class="value">{{ formatDate((connectionDetails$ | async)?.lastConnected) }}</span>
                            </div>
                            <div class="detail-row">
                                <span class="label">Latency:</span>
                                <span class="value">{{ formatLatency((connectionDetails$ | async)?.latency) }}</span>
                            </div>
                            <div class="detail-row" *ngIf="(connectionDetails$ | async)?.reconnectAttempts">
                                <span class="label">Reconnect Attempts:</span>
                                <span class="value">{{ (connectionDetails$ | async)?.reconnectAttempts }}</span>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="showConnectionEvents()">
                            <mat-icon>history</mat-icon>
                            <span>View Connection History</span>
                        </button>
                        <button mat-menu-item (click)="reconnect()" *ngIf="(connectionState$ | async) === connectionState.DISCONNECTED">
                            <mat-icon>refresh</mat-icon>
                            <span>Reconnect</span>
                        </button>
                    </mat-menu>
                    <a mat-list-item [matMenuTriggerFor]="themeMenu"
                       (click)="$event.stopPropagation()"
                       [matTooltip]="'Change theme'"
                       matTooltipPosition="right">
                        <mat-icon matListItemIcon>{{ getThemeIcon((currentTheme$ | async) || 'system') }}</mat-icon>
                        <span matListItemTitle>{{ getThemeLabel((currentTheme$ | async) || 'system') }}</span>
                    </a>
                    <mat-menu #themeMenu="matMenu" class="theme-menu">
                        <button mat-menu-item (click)="setTheme('light')" [class.active]="(currentTheme$ | async) === 'light'">
                            <mat-icon>light_mode</mat-icon>
                            <span>Light</span>
                        </button>
                        <button mat-menu-item (click)="setTheme('dark')" [class.active]="(currentTheme$ | async) === 'dark'">
                            <mat-icon>dark_mode</mat-icon>
                            <span>Dark</span>
                        </button>
                        <button mat-menu-item (click)="setTheme('system')" [class.active]="(currentTheme$ | async) === 'system'">
                            <mat-icon>settings_suggest</mat-icon>
                            <span>System</span>
                        </button>
                        <mat-divider></mat-divider>
                        <div class="color-palette-section">
                            <mat-form-field appearance="fill">
                                <mat-label>Color Theme</mat-label>
                                <mat-select [value]="currentColorPalette$ | async" (selectionChange)="setColorPalette($event.value)">
                                    <mat-option *ngFor="let palette of colorPalettes" [value]="palette">
                                        <div class="color-option">
                                            <div class="color-preview" [class]="palette + '-palette'"></div>
                                            <span>{{ getColorPaletteLabel(palette) }}</span>
                                        </div>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-menu>
                    <a mat-list-item (click)="toggleNavbar(); $event.stopPropagation()"
                       [matTooltip]="!isExpanded ? 'Expand menu' : 'Collapse menu'"
                       matTooltipPosition="right">
                        <mat-icon matListItemIcon>keyboard_arrow_left</mat-icon>
                        <span matListItemTitle>Collapse</span>
                    </a>
                </mat-nav-list>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content style="margin-left: 150px;">
        <mat-toolbar color="primary">
            <span>{{ currentPageTitle$ | async }}</span>
            <span class="toolbar-spacer"></span>
            <ng-container *ngIf="activeToolbarContent">
                <ng-container *ngTemplateOutlet="activeToolbarContent"></ng-container>
            </ng-container>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
