<div class="diagram-container">
    <svg #svgContainer [attr.width]="width" [attr.height]="height" class="flow-diagram"
        [attr.viewBox]="'0 0 ' + width + ' ' + height"
        preserveAspectRatio="xMidYMin slice">
        <!-- Lifelines first (bottom layer) -->
        <ng-container *ngFor="let node of flowData?.nodes">
            <line *ngIf="!['parent', 'auditor', 'child'].includes(node.type)"
                [attr.x1]="node.x" [attr.y1]="node.y + 24" [attr.x2]="node.x" [attr.y2]="height - 10"
                class="lifeline" />
        </ng-container>

        <!-- Messages next (middle layer) -->
        <ng-container *ngFor="let msg of flowData?.messages; let i = index">
            <g [attr.transform]="'translate(0,' + (60 + i * 30 + 16) + ')'"
               [matTooltip]="getMessageTooltip(msg)"
               [matTooltipClass]="'fit-tooltip'"
               [class.clickable]="isMessageClickable(msg)"
               (click)="onMessageClick(msg)">
                <!-- Arrow Line -->
                <line [attr.x1]="getNodeX(msg.from)" [attr.x2]="getNodeX(msg.to) + (getNodeX(msg.from) > getNodeX(msg.to) ? 9 : -9)" y1="0" y2="0"
                    [class]="'message-line ' + msg.header.action + ' ' + (msg.status || '') + (msg.isBrokerInput ? ' isBrokerInput' : '')" />

                <!-- Arrow Head -->
                <path [attr.d]="getArrowPath(getNodeX(msg.from), getNodeX(msg.to), 0)"
                    [class]="'message-arrow ' + msg.header.action + ' ' + (msg.status || '')" />

                <!-- Status Symbol -->
                <foreignObject [attr.x]="getNodeX(msg.from) - 8" y="-8" width="80" height="16" *ngIf="msg.status">
                    <div class="status-icon-container">
                        <mat-icon [class]="'material-symbols-outlined status-symbol ' + getStatusColor(msg.status)">{{getStatusIcon(msg.status)}}</mat-icon>
                        <span [class]="'status-text ' + getStatusColor(msg.status)">{{getStatusText(msg.status)}}</span>
                    </div>
                </foreignObject>

                <!-- Message Label -->
                <foreignObject [attr.x]="(getNodeX(msg.from) + getNodeX(msg.to)) / 2 - 75" y="-13" width="150" height="20">
                    <div class="message-label">{{msg.header.topic}}</div>
                </foreignObject>

                <!-- Timestamp -->
                <foreignObject [attr.x]="(getNodeX(msg.from) + getNodeX(msg.to)) / 2 - 50" y="0" width="100" height="20" *ngIf="msg.timestamp">
                    <div class="timestamp">{{msg.timestamp | date:'HH:mm:ss.SSS'}}</div>
                </foreignObject>
            </g>
        </ng-container>

        <!-- Service boxes last (top layer) -->
        <ng-container *ngFor="let node of flowData?.nodes">
            <g [class]="'service-group ' + node.type">
                <rect [attr.x]="node.x - 50" [attr.y]="node.y" width="100" height="24" rx="4"
                    class="service-box" />
                <foreignObject [attr.x]="node.x - 50" [attr.y]="node.y" width="100" height="24"
                    [matTooltip]="node.type !== 'broker' ? 'Name: ' + getServiceName(node.label) + '\n' + 'ID: ' + node.label : null"
                    [matTooltipClass]="'fit-tooltip'">
                    <div class="service-label">{{getServiceName(node.label)}}</div>
                </foreignObject>
            </g>
        </ng-container>
    </svg>
</div>