:host {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: calc(100% - 32px);
    min-height: fit-content;
    height: calc(100% - 32px);
    gap: 1em;
}

mat-card {
    flex: 1;
    flex-direction: column;
    min-width: 550px;
    min-height: 350px;
}

.mat-mdc-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.meta-container {
    display: flex;
    align-items: center;
}

.meta-content {
    margin: 1em;
    margin-top: 0;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--mat-sys-surface-container-high);
    border: 1px solid var(--mat-sys-outline-variant);
}

.error-level {
    color: #f44336 !important;
    font-weight: bold;
}

.warn-level {
    color: #ff9800 !important;
    font-weight: bold;
}

.info-level {
    color: #2196f3 !important;
    font-weight: bold;
}

.debug-level {
    color: #808080 !important;
    font-weight: bold;
}

::ng-deep {
    .log-level-select {
        padding-right: 0.5em;

        .mat-mdc-form-field-flex {
            min-height: unset;
        }

        .mat-mdc-form-field-infix {
            padding-top: 8px;
            padding-bottom: 8px;
            min-height: unset;
        }

        .mat-mdc-text-field-wrapper {
            padding-top: 0;
            padding-bottom: 0;
        }

        .mdc-text-field--outlined {
            --mdc-typography-subtitle1-line-height: 28px;
        }

        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
    }
}