<ng-template #toolbarContent>
    <app-export
        [data]="table.data"
        filename="metrics-export"
        tooltip="Export Metrics"
        [customizable]="true"
        [disabled]="!table.data.length"/>
    <button mat-icon-button (click)="clearHistory()" matTooltip="Clear Metrics History">
        <mat-icon>delete_sweep</mat-icon>
    </button>
</ng-template>

<!-- Metrics Table -->
<mat-card class="metrics-table-card">
    <mat-card-content>
        <app-table
            [data$]="metricsService.metrics$"
            [columns]="columns"
            [defaultSort]="{ active: 'name', direction: 'asc' }"
            [refreshFn]="refreshMetrics.bind(this)"
            [selectable]="true"
            [multiSelect]="true"
            [canExpand]="canExpand"
            [getGroupName]="getMetricGroup"
            [groupDisplayColumn]="'name'"
            (selectionChange)="onSelectionChange($event)"
            (onDataChange)="updateChart()"
            [paginationConfig]="{
                pageSizeOptions: [10, 25, 50, 100],
                defaultPageSize: 25,
                showFirstLastButtons: true
            }">

            <!-- Cell Templates -->
            <ng-template #cellTemplate let-metric let-column="column">
                <ng-container [ngSwitch]="column.name">
                    <ng-container *ngSwitchCase="'name'">
                        {{metric.name}}
                    </ng-container>

                    <ng-container *ngSwitchCase="'value'">
                        <span [ngClass]="getMetricClass(metric.type)">
                            {{getMetricDisplayValue(metric)}}
                        </span>
                    </ng-container>

                    <ng-container *ngSwitchCase="'type'">
                        <span [ngClass]="getMetricClass(metric.type)">
                            {{metric.type}}
                        </span>
                    </ng-container>

                    <ng-container *ngSwitchCase="'timestamp'">
                        {{getFormattedDate(metric.timestamp)}}
                        <span class="muted italic">({{getElapsedTime(metric.timestamp)}})</span>
                    </ng-container>
                </ng-container>
            </ng-template>
        </app-table>
    </mat-card-content>
</mat-card>


<!-- Chart Card -->
<mat-card *ngIf="selectedMetrics.length" class="metric-chart-card">
    <mat-card-header>
        <mat-card-title>{{ selectedMetrics.length === 1 ? selectedMetrics[0].name : selectedMetrics.length + ' Metrics' }}</mat-card-title>
        <div class="header-actions">
            <button mat-icon-button (click)="togglePause()"
                    [matTooltip]="isPaused ? 'Resume' : 'Pause'">
                <mat-icon>{{ isPaused ? 'play_arrow' : 'pause' }}</mat-icon>
            </button>
            <app-export
                [data]="getChartExportData()"
                filename="metric-history{{selectedMetrics.length === 1 ? '-' + selectedMetrics[0].name : ''}}"
                tooltip="Export Chart Data"
                [customizable]="true"
                [disabled]="!selectedMetrics.length"/>
            <button mat-icon-button class="close-button" (click)="table.clearSelection()" matTooltip="Close chart">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <canvas baseChart
            [data]="chartData"
            [options]="chartOptions"
            [type]="'line'"
            [legend]="false">
        </canvas>
    </mat-card-content>
</mat-card>
