/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

html {
    color-scheme: light;
    @include mat.theme((
        color: mat.$blue-palette,
        typography: Roboto,
        density: 0
    ));
}

body.dark-theme {
    color-scheme: dark;
}

// Base styles
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: background-color 150ms ease;
    margin: 0;
}
